/* commons */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.row::after{
    content: '';
    display: table;
    clear: both;
}



/* inizio layout */

#container{
    width: 100%;
    height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
}

main{
    width: 100%;
    height: calc(100% - 60px);
    background-color: rgb(20 25 34);
}




/* sidebar */

.sidebar{
    width: 30px;
    height: 100%;
    padding-top: 5px;
    padding-left: 3px;
    float: left;
    min-height: 280px;
    background-color: black;
}

.sidebar-sup #logopiccolo{
    width: 60%;
    max-width: 20px;
    margin-bottom: 7px;
}

.sidebar-sup #icone{
    width: 100%;
}

#icone li{
    margin-top: 7px;
    text-align: center;
    line-height: 20px;
}

#icone img{
    max-width: 20px;
    margin-right: 5px;
    opacity: 0.7;
    height: 20px;
    vertical-align: middle;
}

.sidebar li span{
    display: none;
}

.sidebar #logogrande{
    display: none;
}

.sidebar-sup{
    width: 100%;
    height: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sidebar-inf{
    width: 100%;
    height: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
}

.sidebar-inf #icone{
    width: 100%;
    margin-bottom: 5px;
}

.sidebar-inf img#download{
    width: 15px;
}

.sidebar-inf img#profile{
    background-color: rgb(128 128 128);
    border-radius: 50%;
}

hr{
    display: none;
}

.lista-playlist{
    display: none;
}



/* contenuti principali */

.playlist{
    width: calc(100% - 30px);
    height: calc(100% - 50px);
    float: left;
    overflow-y: auto;
    margin-top: 50px;
    
}



/* nav bar superiore */

.navbar-sup{
    height: 50px;
    width: calc(100% - 30px);
    float: right;
    right: 0;
    top: 0;
    position: fixed;
    z-index: 999;
    background-color: rgba(255, 255, 255, 0.7);
}

#upgrade{
    text-align: right;
    margin-right: 10px;
}

#upgrade a{
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    font-size: 9pt;
    line-height: 50px;
    padding: 8px 18px;
    border: 1px solid white;
    border-radius: 20em;
}





/* nav bar inferiore */

.navbar-inf{
    width: 100%;
    background-color: rgb(20 25 34);
    text-decoration: none;
}

.navbar-inf ul{
    width: 100%;
    padding: 20px;
    list-style: none;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.navbar-inf ul li{
    margin: 0px 10px;
    align-items: center;
    line-height: 40px;  
}

.navbar-inf ul li a{
    text-decoration: none;
    color: rgba(255, 255, 255, 0.7);
    text-transform: uppercase;
    font-size: 9pt;
}




/* contenitore immagini */

.img-wrapper{
    width: 100%;
    padding: 15px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.titolo{
    width: 100%;
    margin-bottom: 20px;
    color: white;
    font-size: 10pt;
}

.titolo p{
    color: rgba(255, 255, 255, 0.7);
    font-size: 8pt;
    margin-top: 5px;
}

.img-box{
    width: 120px;
    height: 120px;
    margin-right: 10px;
    margin-bottom: 100px;
}

.img-box img{
    width: 100%;
    object-fit: cover;
}

.dida{
    text-align: center;
}

.img-box .dida span{
    font-size: 10pt;
    color: white;
    text-align: center;
}

.img-box .dida p{
    color: rgba(255, 255, 255, 0.7);
    font-size: 8pt;
    margin-top: 5px;
}


.tondo{
    border-radius: 50%;
}





/* footer */

footer{
    width: 100%;
    height: 60px;
    background-color: rgb(71, 71, 71);
    position: fixed;
    z-index: 2;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-snt{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-left: 10px;
}

.footer-snt .icona-album{
    width: 40px;
    height: 40px;
}

.icona-album img{
    width: 100%;
    object-fit: cover;
}

.footer-snt .dida{
    color: white;
    font-size: 9pt;
    margin-left: 6px;
}

.footer-snt .dida p{
    color: rgba(255, 255, 255, 0.7); 
}

.cuore-cartella {
    font-size: 10pt;
    color: rgba(255, 255, 255, 0.7); 
    margin-left: 15px;
    display: flex;
    flex-direction: column;
}

.cuore-cartella i{
    line-height: 17px;
}




/* **** debug **** */

/* .debug main{
    background-color: grey;
} */

/* .debug .sidebar{
    background-color: crimson;
} */

/* .debug .sidebar-sup{
    background-color: rgba(0, 0, 0, 0.5);
} */

/* .debug .sidebar-inf{
    background-color: rgba(0, 0, 0, 0.8);
} */

/* .debug .navbar-sup{
    background-color: rgb(51, 164, 240);

} */

/* .debug .playlist{
    background-color: chocolate;
    height: 100vh;

} */

/* .debug .navbar-inf{
    background-color: coral;
} */

/* .debug .img-wrapper{
    padding: 10px;
    background-color: white;
    height: 200px;
} */

/* .debug .img-box{
    background-color: red;
    height: 120px;

} */


/* .debug footer{
    background-color: rgb(71, 71, 71);
} */



/* Media Query */

/* s device */
@media screen and (min-width: 568px) {

    .sidebar{
        width: 200px;
        height: 100%;
        float: left;
        padding-top: 20px;
        padding-left: 20px;
        padding-right: 20px;
        
    }

    .sidebar-sup{
        width: 100%;
        height: 80%;
        display: flex;
        align-items: flex-start;
        
    }

    .sidebar-sup #logopiccolo{
        display: none;
    }

    .sidebar-sup #logogrande{
        display: block;
    }

    #logogrande{
        width: 70%;
    }

    #icone li{
        margin-top: 7px;
        text-align: left;
        
    }
    
    #icone li a span{
        display: inline-block;
        list-style: none;
        color: rgba(255, 255, 255, 0.7);
        font-size: 10pt;
    }

    .sidebar-inf #icone ul:first-child{
        width: 50%;
        max-width: 30px;
    }
    
    hr{
        display: block;
        opacity:  0.7;
    }

    .lista-playlist{
        display: block;
        margin-top: 20px;
        width: 100%;
        height: 35%;
        overflow-y: auto;
        color: rgba(255, 255, 255, 0.7);
        font-size: 10pt;
    }

    h3{
        color: white;
        font-size: 10pt;
        text-transform: uppercase;
        margin-bottom: 15px;
    }

    #plus{
        color: black;
        background-color: rgba(255, 255, 255, 0.7);
        padding: 5px 9px;
        font-weight: bold;
        font-size: 14pt;
        margin-right: 8px;
    }

    .lista-playlist ul{
        margin-top: 15px;
    }

    .lista-playlist ul li a{
        color: rgba(255, 255, 255, 0.7);
        list-style: none;
        text-decoration: none;
        line-height: 20px;
    }


    /* navbar superiore */

    .navbar-sup{
        height: 50px;
        width: calc(100% - 200px);
        float: left;
    }

    .playlist{
        width: calc(100% - 200px);
        height: calc(100% - 50px);
        float: left;
        overflow-y: auto;
    }

    .img-box{
        width: 150px;
        height: 150px;
    }
}


/* md device */
@media screen and (min-width: 768px) {
    .sidebar{
        width: 200px;
        height: 100%;
        float: left;
    }

    .navbar-sup{
        height: 50px;
        width: calc(100% - 200px);
        float: left;
    }

    .playlist{
        width: calc(100% - 200px);
        height: calc(100% - 50px);
        float: left;
        overflow-y: auto;
    }

    
}



/* lg device */
@media screen and (min-width: 1200px) {
    .sidebar{
        width: 200px;
        height: 100%;
        float: left;
    }

    .navbar-sup{
        height: 50px;
        width: calc(100% - 200px);
        float: left;
    }

    .playlist{
        width: calc(100% - 200px);
        height: calc(100% - 50px);
        float: left;
        overflow-y: auto;
    }

    
}