/* commons */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.row::after{
    content: '';
    display: table;
    clear: both;
}



/* inizio layout */

#container{
    width: 100%;
    height: 100vh;
    background-color: black;
}

main{
    width: 100%;
    height: calc(100% - 60px);
}

.sidebar{
    width: 30px;
    height: 100%;
    float: left;
}

.navbar-sup{
    height: 50px;
    width: calc(100% - 30px);
    float: left;
}

.playlist{
    width: calc(100% - 30px);
    height: calc(100% - 60px);
    float: left;
    overflow-y: auto;
}

.navbar-inf{
    height: 60px;
    width: 100%;
}

.img-wrapper{
    width: 100%;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.titolo{
    width: 100%;
    margin-bottom: 10px;
}

.img-box{
    width: 46%;
    margin-right: 10px;
    margin-bottom: 20px;
}

/* .img-box img{
    width: 100%;
    object-fit: cover;
} */

footer{
    width: 100%;
    height: 60px;
    background-color: rgb(71, 71, 71);
}





/* **** debug **** */

/* .debug main{
    background-color: grey;
} */

.debug .sidebar{
    background-color: crimson;
}

.debug .navbar-sup{
    background-color: rgb(51, 164, 240);
    
}

/* .debug .playlist{
    background-color: chocolate;
    height: 100vh;
    
} */

.debug .navbar-inf{
    background-color: coral;
}

.debug .img-wrapper{
    padding: 10px;
    background-color: white;
    height: 200px;
    
}

.debug .img-box{
    background-color: red;
    height: 120px;
    
}

.debug .dida{

}

/* .debug footer{
    background-color: rgb(71, 71, 71);
} */



/* Media Query */

/* s device */
@media screen and (min-width: 568px) {
    .sidebar{
        width: 200px;
        height: 100%;
        float: left;
    }

    .navbar-sup{
        height: 50px;
        width: calc(100% - 200px);
        float: left;
    }
    
    .playlist{
        width: calc(100% - 200px);
        height: calc(100% - 60px);
        float: left;
        overflow-y: auto;
    }
    
    .img-box{
        max-width: 48%;
        margin-right: 10px;
        margin-bottom: 20px;
        
    }
}


/* md device */
@media screen and (min-width: 768px) {
    .sidebar{
        width: 200px;
        height: 100%;
        float: left;
    }

    .navbar-sup{
        height: 50px;
        width: calc(100% - 200px);
        float: left;
    }
    
    .playlist{
        width: calc(100% - 200px);
        height: calc(100% - 60px);
        float: left;
        overflow-y: auto;
    }
    
    .img-box{
        max-width: 23%;
        margin-right: 10px;
        margin-bottom: 20px;
    }
}



/* lg device */
@media screen and (min-width: 1200px) {
    .sidebar{
        width: 200px;
        height: 100%;
        float: left;
    }

    .navbar-sup{
        height: 50px;
        width: calc(100% - 200px);
        float: left;
    }
    
    .playlist{
        width: calc(100% - 200px);
        height: calc(100% - 60px);
        float: left;
        overflow-y: auto;
    }
    
    .img-box{
        max-width: 15%;
        margin-right: 10px;
        margin-bottom: 20px;
    }
}